<!--<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Team #<%- team.id %></h4>
      </div>
      <div class="modal-body">-->
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>First pilot</th>
                <th>Second Pilot</th>
                <th>Navigator</th>
                <th>Radioman</th>
                <th>Stewardess</th>
                <th>Stewardess</th>
            </tr>
            <tr>
                <td><%- team[0].pilot1 %></td>
                <td><%- team[0].pilot2 %></td>
                <td><%- team[0].navigat %></td>
                <td><%- team[0].radioman %></td>
                <td><%- team[0].stewardess1 %></td>
                <td><%- team[0].stewardess2 %></td>
            </tr>
            </tbody>
        </table>
<input type="button" class="btn btn-default ok" value="Ok">
      <!--</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default ok" value="ok" data-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>-->