<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <style>
        td.bt{
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        var root_url = 'http://127.0.0.1:8000';
        function flights() {
            $(window).load('static/ajax/admin_flights_table.html', function (template) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: root_url + '/flights',
                    dataType: 'json',
                    success: function (data, text_status, jq) {
                        var flights = data.flights;
                        $('#flights').html(
                                _.template(template)({
                                    flights: flights
                                })
                        );
                        $(function () {
                            $(".add")
                                    .click(function () {
                                        var from = $('#from').val();
                                        var to = $('#to').val();
                                        send_flight(from, to);
                                    })
                        });
                        $(function () {
                            $(".delete")
                                    .click(function () {
                                        var f_id = $(this).attr('id');
                                        delete_flight(f_id);
                                    })
                        })
                    }
                })
            })
        }
        function send_flight(from, to){
            $.ajax({
                type:'POST',
                contentType: 'application/json',
                url: root_url + '/add_flight',
                data: JSON.stringify({
                    'from':from,
                    'to':to
                    }),
                success: function(data, text_status, jq){
                    flights()
                }
            })
        }
        function delete_flight(f_id){
            $.ajax({
                type: 'DELETE',
                contentType: 'application/json',
                url: root_url + '/delete_flight/' + f_id,
                success: function(data, text_status, jq){
                    flights()
                }
            })
        }
    </script>
</head>
<body onload="flights()">
    <div id="flights">
    </div>
</body>
</html>